 .weather{
	 background-color:#666;
	 border-radius: 20px;
	 box-shadow: 3px 3px 5px #CCCCCC;
	 height: 15em;
	 margin-top:15%;
	 padding: 1em 5em;
	 top: 50%;
	 left: 50%;
	 width: 20em;
	 z-index:1;
}

input{
	margin-left: -2em;
	width: 50%;
	margin-bottom: 1em;
}

button{
	width: 50%;
	display: inline;
	margin-bottom: 1em;
}

h2{
	margin-top: 1em;
	text-align: center;
}

ul{
	margin: -3em 0 0 -1.5em;
}

ul li{
	list-style: none;
}

.temp{
	font-size: 75px;
}

.currently{
	margin: -1em 0 0 2em;
	font-size:2em;
}

.hilo{
	font-size: 40px;
	margin-top: -.75em;
	text-align: center;
}

.arrow{
	z-index: -10;
}

.flip{
	margin-top: 1em;
	text-align: center;
}

.today{
	margin-top: 1em;
	text-align: center;
}

.tmr{
	margin-top: -5em;
}

.tomorrow{
	text-align: right;
}

.next{
	 background-color: rgba(0,0,0,.5);
	 border-radius: 20px;
	 height: 5em;
	 margin-top:12em;
	 z-index:-1;
}

.image{
	height: 50px;
	width: 50px;
}

.Timage{
	height: 50px;
	width: 50px;
	position: relative;
	left: 88%;
	text-align:right;
}