 .banner{
	 background: black;
	 border: 2px solid black;
	 border-radius: 5px;
	 margin-top: -5px;
	 padding-bottom: 5px;
	 position: fixed;
}
 
 .weather{
	 color: black;
	 margin-top:10%;
	 padding: 1em 5em;
	 top: 50%;
	 left: 50%;
	 z-index:1;
}

input{
	margin: 10px 10px 10px 23%;
	width: 25%;
}

button{
	width: 25%;
	display: inline;
}

h2{
	font-size:3em;
	margin-top: 1em;
	margin-left: 1em;
	text-align: center;
}

ul{
	margin: -3em 0 0 -1.5em;
}

ul li{
	list-style: none;
}

.temp{
	font-size: 100px;
}

.currently{
	margin: -.75em 0 0 2.5em;
	font-size:2em;
}

.hilo{
	font-size: 45px;
	margin-top: -1em;
	margin-left:1.5em;
	text-align: center;
}

.lo{
	color:rgb(113,151,177);
	display: inline;
	margin-left: .5em;
}

.today{
	font-size: 1.25em;
	margin-top: -5em;
	text-align: center;
}

.tmr{
	margin-top: -5em;
	margin-right:-4em;
}

.tomorrow{
	text-align: right;
}

.next{
	 background-color: rgba(0,0,0,.5);
	 border-radius: 20px;
	 height: 5em;
	 margin-top:12em;
	 z-index:-1;
}

.image{
	height: 50px;
	margin: 3em 0 0 1em;
	width: 50px;
}

.Timage{
	height: 25px;
	width: 25px;
	position: relative;
	left: 90%;
	margin-top:-.5em;
	text-align:right;
}

.tFore{
	margin: -1.5em 0 0 0;
}

footer{
	background:url(../../P4-Weather-Site/img/skyline.png);
	bottom: 0%;
	height: 375px;
	left: 0;
	margin: 0;
	position: fixed;
	width: 100%;
}

/*Standard Desktop*/
@media screen and (max-width: 1024px)
{
	/*css rules*/
h2{
	margin-left:0;
	font-size:3em;
	margin-top: 1em;
	margin-bottom: 1em;
	text-align: left;
}

ul{
	margin:0%;
}

ul li{
	list-style: none;
}

.temp{
	font-size: 100px;
}

.currently{
	font-size:2em;
	float: right;
	margin: .5em 0 0 7em;
}

.hilo{
	font-size: 45px;
	margin: 1em 0 0 0em;
	text-align: left;
}

.lo{
	color:rgb(113,151,177);
	display:block;
	margin: -.5em 0 0 1.5em;
}

.today{
	font-size: 1.25em;
}

.tmr{
	margin-top: 1em;
	margin-right:0em;
}

.tomorrow{
	text-align: left;
}

.next{
	 background-color: rgba(0,0,0,.5);
	 border-radius: 20px;
	 height: 5em;
	 margin-top:12em;
	 z-index:-1;
}

.image{
	height: 150px;
	float: right;
	margin: -7em 0 0 0em;
	width: 150px;
}

.Timage{
	height: 25px;
	width: 25px;
	position: relative;
	left: 0;
	margin-top:-.5em;
	text-align:right;
}

.tFore{
	margin: -1.5em 0 0 2em;
}	
}

/*Tablet*/
@media screen and (max-width: 768px)
{
	/*css rules*/
	.content{
		margin: 2em 0 0 -4em;
	}
	
	 .banner{
	 background: black;
	 border: 2px solid black;
	 border-radius: 5px;
	 margin-top: -5px;
	 padding-bottom: 5px;
	 position: fixed;
}

input{
	margin: 10px 10px 10px 1em;
	width: 40%;
}

button{
	width: 40%;
	display: inline;
}
	
h2{
	margin-left:0px;
	font-size:3em;
	margin-top: 2em;
	margin-bottom: 1em;
	text-align: left;
}

ul{
	margin:0px;
}

ul li{
	list-style: none;
}

.temp{
	font-size: 100px;
}

.currently{
	font-size:2em;
	float: left;
	margin: 1.5em 0 0 2.5em;
}

.hilo{
	font-size: 45px;
	margin: 2.5em 0 0 0em;
	text-align: left;
}

.lo{
	color:rgb(113,151,177);
	display:block;
	margin: -.5em 0 0 1.5em;
}

.today{
	font-size: 1.25em;
}

.tmr{
	margin-top: 1em;
	margin-right:0em;
}

.tomorrow{
	text-align: left;
}

.image{
	height: 50px;
	float: left;
	margin: 2em 0 0 0;
	width: 50px;
}
}

/*mobile*/
@media screen and (max-width: 480px)
{
	/*css rules*/
	
	.content{
		margin: 2em 0 0 -4em;
	}
	
	 .banner{
	 background: black;
	 border: 2px solid black;
	 border-radius: 5px;
	 margin-top: -5px;
	 padding-bottom: 5px;
	 position: fixed;
}

input{
	margin: 10px 10px 10px .5em;
	width: 90%;
}

button{
	width: 90%;
	display: inline;
}
	
h2{
	margin-left:0px;
	font-size:3em;
	margin-top: 2em;
	margin-bottom: 1em;
	text-align: left;
}

ul{
	margin:0px;
}

ul li{
	list-style: none;
}

.temp{
	font-size: 100px;
}

.currently{
	font-size:2em;
	float: left;
	margin: -1.5em 0 0 2.5em;
}

.hilo{
	font-size: 45px;
	margin: 2.5em 0 0 0em;
	text-align: left;
}

.lo{
	color:rgb(113,151,177);
	display:block;
	margin: -.5em 0 0 1.5em;
}

.today{
	font-size: 1.25em;
}

.tmr{
	margin-top: 1em;
	margin-right:0em;
}

.tomorrow{
	text-align: left;
}

.image{
	height: 50px;
	float: left;
	margin: 2em 0 0 0;
	width: 50px;
}

}